.tooltip {
  position: absolute;
  top: 6rem;
  right: 0;
  z-index: 6;
  width: 30rem;
  padding: 2rem;
  background: var(--white);
  box-shadow: 0 3px 12px rgba(#000, 0.33);
  transform: translateY(-5rem);
  visibility: hidden;
  opacity: 0;
  transition: var(--transition-05);

  &::before,
  &::after {
    position: absolute;
    content: "";
  }

  &::before {
    position: absolute;
    top: -0.5rem;
    right: 1rem;
    z-index: 1;
    width: 3rem;
    height: 3rem;
    background: var(--white);
    box-shadow: 0 3px 12px rgba(#000, 0.33);
    transform: rotate(45deg);
    content: "";
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 8rem;
    height: 6rem;
    background: var(--white);
    content: "";
  }

  &__content {
    position: relative;
    z-index: 3;
  }

  &__title {
    font-weight: var(--fw-500);
    font-size: var(--font-size-25);
    line-height: var(--font-size-36);
  }

  &__link {
    text-decoration: underline;
  }
}
