footer.footer
  .container-fluid
    .footer__inner
      .footer__block
        .footer__text © 2012 – 2020
        .footer__text ООО «Название компании»
      img.footer__icon(src="images/icons/comodossl-trustlogo2.png" alt="")
