@import "reset";
@import "base";
@import "variables";
@import "components/button";
@import "components/input";
@import "components/tooltip";
@import "components/modal";

.main {
  padding-top: 6rem;
}

.burger-btn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 3rem;
  height: 2.3rem;
  cursor: pointer;
  
  span {
    width: 100%;
    height: 0.3rem;
    background: var(--blue);
  }
}

.header {
  position: relative;

  &__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 6.8rem;
    padding: 1.2rem 3.2rem;
    background-color: var(--white);

    &.active {
      position: fixed;
      top: -7rem;
      bottom: auto;
      padding: 1.2rem 3.2rem;
      box-shadow: var(--box-shadow);
      transform: translateY(100%);
      transition: var(--transition-2);
    }

    &.header-hide {
      box-shadow: none;
      transform: translateY(0);
    }
  }
}

// navigation
.mobile-navigation {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 6;
  width: 100%;
  max-width: 35rem;
  background: var(--white);
  transform: translateX(-100%);
  visibility: hidden;
  transition: var(--transition-025);

  &.active {
    box-shadow: var(--box-shadow);
    transform: translateX(0);
    visibility: visible;
    transition: var(--transition-05);
  }

  &__list {
    width: 100%;
  }

  &__block {
    display: flex;
    justify-content: space-between;

    &--top {
      padding: 3rem;
    }

    &--menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 85vh;
    }
  }

  &__img {
    width: 16rem;
    margin-bottom: 3rem;
  }

  &__close {
    font-size: 3rem;
    cursor: pointer;
  }

  &__link {
    padding: 2rem 3rem;
    color: var(--blue);
    font-size: 1.8rem;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      color: var(--white);
      background: var(--blue);
    }

    &:active {
      color: var(--blue-light);
    }
  }
}

.section {
  padding: 6rem 0 5.9rem;

  &:not(:last-child) {
    border-bottom: 1px solid var(--blue-dark);
  }
}

.section-hero {
  min-height: 36rem;
  padding: 10rem 0 10.6rem;
  color: var(--white);
  background-image: image-set(
    url("../images/pic_main2x.jpg") 2x,
    url("../images/pic_main.jpg") 1x
  );
  background-size: cover;

  &__form {
    display: flex;
    gap: 2rem;
    align-items: flex-end;
  }

  &__text {
    margin-top: 1.2rem;
  }
}

.form {
  &-group {
    position: relative;
    width: 83%;
  }

  &__label {
    font-weight: 500;
    font-size: var(--font-size-36);
    line-height: var(--line-height-48);
  }

  &__input {
    margin-top: 1.7rem;
  }

  &__search-icon {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    width: 2.6rem;
    height: 2.6rem;
    transform: translateX(130%);
    visibility: hidden;
    cursor: pointer;
    opacity: 0;
    transition: var(--transition-05);
  }
}

.section-navigate {
  margin: 6rem 0 2rem;

  &__inner {
    width: 70rem;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 1.3rem;
    font-weight: 500;
    font-size: var(--font-size-36);
    line-height: var(--line-height-48);
    text-align: center;

    &-mobile {
      display: none;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 3.5rem;
    justify-content: center;
    font-size: var(--font-size-20);
    line-height: var(--line-height-30);
  }

  &__item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-bottom: none;

    &.is--active {
      .section-navigate__arrow {
        transform: rotateX(180deg);
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__icon {
    display: none;
    margin-right: 3rem;
  }

  &__arrow {
    position: relative;
    display: none;
    margin-left: auto;
    padding: 2rem;
    color: #fff;
    background: transparent;
    border-radius: 1rem;
    transition: var(--transition-05);

    &::after {
      position: absolute;
      right: 1rem; 
      bottom: 0.7;
      border: 0.7rem solid transparent;
      border-top: 0.7rem solid var(--blue);
      content: ""; 
    }
  }

  &__content {
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility var(--transition-05);
  }

  &__link {
    color: var(--blue);
    border-bottom: 1px dotted var(--blue);

    &:active {
      color: var(--blue-light);
      border-bottom: 1px dotted var(--blue-light);
    }

    &.is--disabled {
      color: var(--dark);
      border: none;
    }
  }
}

.section-item {
  &:nth-child(even) {
    .section-item__inner {
      .section-item__content {
        order: 1;
      }
    }
  }

  &__inner {
    display: flex;
    gap: 4rem;
  }

  &__title {
    margin-bottom: 2.3rem;
    font-weight: var(--fw-500);
    font-size: var(--font-size-24);
    line-height: var(--line-height-32);
  }

  &__content {
    width: 60rem;
  }

  &__img {
    width: 32rem;
    height: 32rem;
    aspect-ratio: 1;
  }

  &__block {
    &:not(:last-child) {
      margin-bottom: 3.6rem;
    }

    &-title {
      font-weight: var(--fw-500);
      text-transform: uppercase;
    }

    &-text {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}

.section-partners {
  &__title {
    margin-bottom: 5.4rem;
    font-size: var(--font-size-36);
    line-height: var(--line-height-48);
    text-align: center;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    width: 15rem;
    margin-top: 1.2rem;
    font-size: var(--font-size-12);
    line-height: var(--line-height-16);
    text-align: center;
  }
}

.footer {
  padding: 4rem 0 4.1rem;
  background: var(--blue-dark);

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__icon {
    width: 5.2rem;
  }
}

// section animations
[data-section] {
  > * {
    transform: translateY(10rem);
    opacity: 0;
    transition: var(--transition-1);
  }

  &.active > * {
    transform: translateY(0);
    opacity: 1;
  }
}

// Tooltip
[data-tooltip] {
  position: relative;
  z-index: 2;

  &:hover {
    .tooltip {
      transform: translateY(0);
      visibility: visible;
      opacity: 1;
      transition: var(--transition-05);
    }
  }
}

@import "media";
